[submodule "submodule_study"]
	path = submodule_study
	url = https://github.com/tientham/git-study/
[submodule "module_2"]
	path = module_2
	url = https://github.com/tientham/git-study
[submodule "feature1"]
	path = feature1
	url = https://github.com/tientham/feature1
